<div id="article" class="container">

  <div class="card">
    <div class="card-content">

      <div class="section">
        <div id="article-title">
          <h5>{{article.title}}</h5>
        </div>
      </div>

      <div class="section">
        <div id="content-main-view-article-content" class="container">
          {{article.content}}
        </div>
      </div>

    </div>
  </div>

  <div class="section"/>
  <h5>Comments</h5>

  <div id="comments">
    {{#comments.thread}}
    <div class="card">
      <div class="card-content container">
        {{message}}
      </div>
    </div>
    {{/comments.thread}}
  </div>

  <div class="card">
    <div class="card-content">
      <div id="article-write-comment" class="row">
        <form>
          <div class="input-field col l11">
            <input id="input-field-new-comment" type="text" class="validate">
            <label for="input-field-new-comment">Write comment</label>
          </div>

          <div class="input-field col l1">
            <div class="input-field col l12">
              <a id="button-send-comment" class="btn-flat waves-effect">
                <i class="material-icons red-text">send</i>
              </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
