<div id="content-container-main-view" class="container">

  <div id="content-main-view-article-title" class="container">
    Title
  </div>

  <div id="content-main-view-article-content" class="container">
    Content
  </div>

  <div id="content-main-view-comments" class="container">
    comments
  </div>

</div>
