<div id="content-container-main-view" class="container">

  <div id="content-main-view-article" class="container">
    Article
  </div>

  <div id="content-main-view-comments" class="container">
    comments
  </div>

</div>
