<div id="articles-container" class="container">

  <div class="collection">
    {{#articles}}
    <a href="/article.html?id={{id}}" class="collection-item">{{title}}</a>
    {{/articles}}
  </div>

</div>
